.shake-item {
  color: #58A4B0 !important;
}

.shake-list {
  width: 500px;
  height: 300px;
  border-color: #D8DBE2;
  background-color: white !important;
  border-style: solid;
  border-width: thin;
  overflow-y: scroll;
}
