body {
  color: #D8DBE2;
}

#app {
  font-family: 'Chivo', sans-serif;
  background-color: #A9BCD0;
}

#navbar {
  background-color: #373F51;
}

#home-link {
  z-index: 10;
}

.navlinks {
  display: inline-block;
}

.brand-logo {
  left: 1%;
}
