{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% for cat in cats %}
    <a href="/{{cat.id}}">
      <h3>Name: {{ cat.name }}</h3>
    </a>
    <a href='/user/{{ cat.user.username }}'>
      <p>Adopted by: {{ cat.user.username }}</p>
    </a>
      <p>{{ cat.description }}</p>
      {% if cat.age > 0  %}
        <p>Age: {{ cat.age }}</p>
      {% else %}
        <p>Age: Kitten</p>
      {% endif %}
      <a class="waves-effect waves-light btn like" data-id="{{ cat.id }}">
        Likes: {% if cat.likes > 0 %} {{ cat.likes }} {% else %} None :( {% endif %}
      </a>
    <hr />
  {% endfor %}

  <form action='post_cat/' method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='submit' />
  </form>



{% endblock %}
